html,

.leofullscreen {
    width: 100%;
    height: 100vh;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin:auto;
}

.form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
  }

#randomizingOptions {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

#classesCards {
    display: inline-block;
}

#classesSelectionContainer {
    width: 100%;
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}

.testDataOptions {
    width: 100%;
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 60px !important;
    width: 60px !important;
    outline: black !important;
    background-size: 100%, 100% !important;
    border-radius: 50% !important;
    border: 1px solid black !important;
    background-image: none !important;
}

.carousel-control-prev,
.carousel-control-next {
width: 30% !important;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 45px;
    color: black;
    line-height: 3rem;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 45px;
    color: black;
    line-height: 3rem;
}