<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>MARGRIT</title>
    <link rel="stylesheet" href="/css/home.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
</head>
<body class="text-center container">

        <form method="POST" enctype="multipart/form-data" class="form-signin" id="fileUploadForm">

            <img class="mb-4" src="img/logo.png" alt="" height="100" width="100"/>

            <h1 class="h3 mb-3 font-weight-normal">Please upload a .csv File</h1>

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="file"/>
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>

            <input class="btn btn-lg btn-primary btn-block submit" type="submit" value="Submit" id="submitUpload" disabled="disabled"/>

            <span id="result"></span>

        </form>

        <div id="classesSelectionContainer">
            <h1 class="h3 mb-3 font-weight-normal">Which classes would you like to test?</h1>
            <table id="selectClassesTable" data-click-to-select="true"></table>
            <input class="btn btn-lg btn-primary btn-block submit" type="submit" value="Submit" id="submitClassSelection" />
        </div>

        <div id="classesContainer">
            <form id="classesTestDataForm">

                <div id="classesCards">
                </div>

                <input class="form-check-input" type="checkbox" value="" id="randomizeCheckbox"/>
                <label class="form-check-label" for="randomizeCheckbox">Randomize Parameter's values</label>

                <div class="row"></div>
                <input class="form-check-input" type="checkbox" value="" id="setClassPackage"/>
                <label class="form-check-label" for="randomizeCheckbox">Set Classes Package</label>

                <input class="btn btn-lg btn-primary btn-block submit" type="submit" value="Submit" id="sumbitClassesTestData" />

            </form>
        </div>

        <div id="generationOptionsContainer">

            <h1 class="h3 mb-3 font-weight-normal">Please choose mode of test cases generation:</h1>

            <form id="generateTestCases">

            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active"><input type="radio" name="options" id="generateAbstractStructure" autocomplete="off" checked="true"/> Abstract Structure</label>
                <label class="btn btn-primary"><input type="radio" name="options" id="generateJunit" autocomplete="off"/> Junit Test Cases</label>
            </div>

            <input class="btn btn-lg btn-primary btn-block submit" type="submit" value="Generate" id="submitGenerateTestCases" />

            </form>

        </div>

    <script src="/js/home.js"></script>
</body>

</html>