<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>MARGRIT</title>
    <link rel="stylesheet" href="/css/home.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

<div class="leofullscreen">

<div class="text-center container">

<div id="classesContainer">
    <form id="classesTestDataForm">

        <div id="classesCards" class="card-columns">

            <div class="classContainer card">

                <div class="className card-header">
                    <h1 class="h3 mb-3 font-weight-normal">ServletForgotPassword</h1>
                </div>

                <div class="card-body method">

                    <div class="card border-warning">
                    <h5 class="methodName card-title text-left card-header">checkUser</h5>

                    <input hidden="true" class="methodId" name="id" value="2"/>

                        <div class="card-body">
                            <h6 class="text-left">Parameters</h6>
                    <div class="parameter form-inline">
                        <div class="form-group mb-2">
                            <input type="text" readonly="true" class="form-control-plaintext" id="parameter" value="String : username"/>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" name="parameterValue" class="form-control parameterValue" id="parameter#4" placeholder="Value"/>
                        </div>
                            <input hidden="true" class="parameterId" name="id" value="4"/>
                    </div>

                    <div class="parameter form-inline">
                        <div class="form-group mb-2">
                            <input type="text" readonly="true" class="form-control-plaintext" id="parameter" value="int : userId"/>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" name="parameterValue" class="form-control parameterValue" id="parameter#5" placeholder="Value"/>
                        </div>
                            <input hidden="true" class="parameterId" name="id" value="5"/>
                    </div>
                        </div>

                    <div class="returnType card-footer">
                        <h6 class="text-left">Expected return value</h6>
                        <div class="form-inline">
                        <div class="form-group mb-2">
                            <input type="text" readonly="true" class="form-control-plaintext" id="returnType" value="Boolean"/>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" name="expectedReturnValue" class="form-control expectedReturnValue" placeholder="Value"/>
                        </div>
                        </div>
                    </div>

                    </div>

                </div>


            </div>

            <div class="classContainer card">

                <div class="className card-header">
                    <h1 class="h3 mb-3 font-weight-normal">ServletForgotPassword</h1>
                </div>

                <div class="card-body method">

                    <div class="card border-warning">
                        <h5 class="methodName card-title text-left card-header">checkUser</h5>

                        <input hidden="true" class="methodId" name="id" value="2"/>

                        <div class="card-body">
                            <h6 class="text-left">Parameters</h6>
                            <div class="parameter form-inline">
                                <div class="form-group mb-2">
                                    <input type="text" readonly="true" class="form-control-plaintext" id="parameter" value="String : username"/>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" name="parameterValue" class="form-control parameterValue" id="parameter#4" placeholder="Value"/>
                                </div>
                                <input hidden="true" class="parameterId" name="id" value="4"/>
                            </div>

                            <div class="parameter form-inline">
                                <div class="form-group mb-2">
                                    <input type="text" readonly="true" class="form-control-plaintext" id="parameter" value="int : userId"/>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" name="parameterValue" class="form-control parameterValue" id="parameter#5" placeholder="Value"/>
                                </div>
                                <input hidden="true" class="parameterId" name="id" value="5"/>
                            </div>
                        </div>

                        <div class="returnType card-footer">
                            <h6 class="text-left">Expected return value</h6>
                            <div class="form-inline">
                                <div class="form-group mb-2">
                                    <input type="text" readonly="true" class="form-control-plaintext" id="returnType" value="Boolean"/>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" name="expectedReturnValue" class="form-control expectedReturnValue" placeholder="Value"/>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

            <div class="classContainer card">

                <div class="className card-header">
                    <h1 class="h3 mb-3 font-weight-normal">ServletForgotPassword</h1>
                </div>

                <div class="card-body method">

                    <div class="card border-warning">
                        <h5 class="methodName card-title text-left card-header">checkUser</h5>

                        <input hidden="true" class="methodId" name="id" value="2"/>

                        <div class="card-body">
                            <h6 class="text-left">Parameters</h6>
                            <div class="parameter form-inline">
                                <div class="form-group mb-2">
                                    <input type="text" readonly="true" class="form-control-plaintext" id="parameter" value="String : username"/>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" name="parameterValue" class="form-control parameterValue" id="parameter#4" placeholder="Value"/>
                                </div>
                                <input hidden="true" class="parameterId" name="id" value="4"/>
                            </div>

                            <div class="parameter form-inline">
                                <div class="form-group mb-2">
                                    <input type="text" readonly="true" class="form-control-plaintext" id="parameter" value="int : userId"/>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" name="parameterValue" class="form-control parameterValue" id="parameter#5" placeholder="Value"/>
                                </div>
                                <input hidden="true" class="parameterId" name="id" value="5"/>
                            </div>
                        </div>

                        <div class="returnType card-footer">
                            <h6 class="text-left">Expected return value</h6>
                            <div class="form-inline">
                                <div class="form-group mb-2">
                                    <input type="text" readonly="true" class="form-control-plaintext" id="returnType" value="Boolean"/>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" name="expectedReturnValue" class="form-control expectedReturnValue" placeholder="Value"/>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

        </div>

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" id="sumbitClassesTestData"/>

    </form>
</div>

</div>
</div>
</body>

</html>