<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>MARGRIT</title>
    <link rel="stylesheet" href="/css/home.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body clas="text-center">
<div layout:fragment="content" class=".form-signin">

    <img class="mb-4" src="img/logo.png" alt=""/>
    <h1 class="h3 mb-3 font-weight-normal">MARGRIT METHOD</h1>
    <h1 class="h3 mb-3 font-weight-normal">Please upload a .csv File</h1>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input class="btn btn-lg btn-primary btn-block" type="file" name="file" /><br/><br/>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />
    </form>

</div>
</body>

<th:block layout:fragment="scripts">
    <script src="/js/home.js"></script>
</th:block>
</html>